*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.navlist{
    display: flex;
}
.navlist {
    color: white;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white ; /*ხაზს აჩენს მენიუს წარწერი დაბლა რაც ნელნელა მკრთალდება */
} 


#menu-icon{
    color: white;
    font-size: 35px; /* მენიუს ბათონის ზომა */
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d5959 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2 rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Permanen Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: red;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: goldenrod;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a:ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a:ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    margin-left: 50px;
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translate(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .05s ease;
}
.icons i:hover{
    color: #4d9559;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 12px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;

}
.scroll-down i:hover{
    transform: translate(-10px);
}
@media (max-width: 1535px){
    header{
        padding: 15 px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2S;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560 px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    /*ძაან თუ დაპატარავდება ეკრანი აიქონები გაქრებას */
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55 ease;
    }
    .navlist a{
        display: block;
        margin-left: 0;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
.hero-img img{
    width: 100%;
    height: auto;
}
}

.wave-text{
    position: relative;
    
}
.wave-text h2{
    margin: 0 0 45px;
    
    position:absolute;
    color:  #bc1313;
    font-size: 5em;
    transform: translate(-50%,-50%); 
}
.wave-text h2:nth-child(1){
    color:  #bc1313;
    -webkit-text-stroke: 2px #bc1313;
}
.wave-text h2:nth-child(2){
    color: #2389da;
    animation:animate 1s ease-in-out infinite;
}
@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 46%0% 46%0% 46%, 5% 53%, 5% 53%, 5% 53%, 9% 59%, 9% 59%, 9% 59%, 16% 65%, 16% 65%, 16% 65%, 24% 70%, 24% 70%, 24% 70%, 31% 75%, 31% 75%, 31% 75%, 37% 76%, 37% 76%, 37% 76%, 38% 76%, 38% 76%, 38% 76%, 38% 76%, 38% 76%, 38% 76%, 42% 74%, 42% 74%, 42% 74%, 50% 70%, 50% 70%, 50% 70%, 56% 65%, 56% 65%, 56% 65%, 63% 62%, 63% 62%, 63% 62%, 70% 58%, 70% 58%, 70% 58%, 80% 51%, 80% 51%, 80% 51%, 85% 49%, 85% 49%, 85% 49%, 93% 45%, 93% 45%, 93% 45%, 100% 41%, 100% 41%, 100% 41%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0% 100%);
       }

    50%, 100% {
        clip-path: polygon(0% 51%, 4% 56%, 10% 62%, 16% 65%, 22% 68%, 29% 72%, 38% 70%, 48% 66%, 53% 62%, 57% 59%, 64% 59%, 68% 59%, 73% 56%, 77% 54%, 81% 52%, 86% 49%, 92% 46%, 98% 43%, 100% 40%, 100% 100%, 0% 100%);
        }
}



