*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
body{font-size:75%;background:#222;font-family:arial;padding:20px 0 0 20px}
canvas{border:1px solid #181818;display:block;box-shadow:0 0 10px #111;background:rgba(20,20,20,1)}

header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: #44704e14;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
  }
  .navlist {
    display: flex;
    color: white;
    flex-direction: row;
  }
  .navlist a {
    color: white;
    margin-left: 60px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
  }
  .navlist li {
    width: 200px;
  }
  
  .navlist a:hover {
    border-bottom: 2px solid white; /*ხაზს აჩენს მენიუს წარწერი დაბლა რაც ნელნელა მკრთალდება */
  }
  
  #menu-icon {
    color: white;
    font-size: 35px; /* მენიუს ბათონის ზომა */
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  .hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2 rem;
  }
  section {
    padding: 0 19%;
  }
  #teammitglieder {
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
  .hero-text {
    margin-top: 20%;
  }
  .hero-text h6 {
    font-size: 18px;
  }
  .hero-text h2 {
    font-size: 25px;
    color: #0b3d92;
  }
  .hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
  }
  .hero-text h1 {
    font-family: "Permanen Marker", cursive;
    font-size: 90px;
    line-height: 1;
    color: red;
    margin: 0 0 45px;
  }
  
  .hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: goldenrod;
    margin-bottom: 10px;
  }
  .hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
  }
  .hero-text a {
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
  }
  .hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
  }
  .hero-text a:ctaa {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
  }
  .hero-text a:ctaa i {
    vertical-align: middle;
    margin-right: 5px;
  }
  .icons {
    margin-left: 50px;
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translate(-50%);
  }
  
  .icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all 0.05s ease;
  }
  .icons i:hover {
    color: #4d9559;
    transform: translateY(-5px);
  }
  .scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
  }
  .scroll-down i {
    display: block;
    padding: 12px;
    font-size: 12px;
    color: white;
    background: #4d9559;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .scroll-down i:hover {
    transform: translate(-10px);
  }
  @media (max-width: 1535px) {
    header {
      padding: 15 px 3%;
      transition: 0.2s;
    }
    .icons {
      padding: 0 3%;
      transition: 0.2s;
    }
    .scroll-down {
      right: 3%;
      transition: 0.2s;
    }
  }
  @media (max-width: 1460px) {
    section {
      padding: 0 12%;
      transition: 0.2s;
    }
  }
  @media (max-width: 1340px) {
    .hero-img img {
      width: 100%;
      height: auto;
    }
    .hero-text h1 {
      font-size: 75px;
      margin: 0 0 30px;
    }
    .hero-text h5 {
      margin-bottom: 25px;
    }
  }
  @media (max-width: 1195px) {
    section {
      padding: 0 3%;
      transition: 0.2s;
    }
    .hero-text {
      padding-top: 115px;
    }
    .hero-img {
      text-align: center;
    }
    .hero-img img {
      width: 560 px;
      height: auto;
    }
    .hero {
      height: 100%;
      gap: 1rem;
      grid-template-columns: 1fr;
    }
    /*ძაან თუ დაპატარავდება ეკრანი აიქონები გაქრებას */
    .icons {
      display: none;
    }
    .scroll-down {
      display: none;
    }
  }
  @media (max-width: 990px) {
    #menu-icon {
      display: block;
    }
    .navlist {
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 40vh;
      background: #4d9559;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 50px 20px;
      transition: all 0.55 ease;
    }
    .navlist a {
      display: block;
      margin-left: 0;
      margin: 7px 0;
    }
    .navlist.open {
      right: 0;
    }
  }
  @media (max-width: 680px) {
    .hero-img img {
      width: 100%;
      height: auto;
    }
  }
  .logo-img img {
    width: 10%;
    height: auto;
    padding: auto;
    margin: 1%;
    position: relative;
  }
  
  /*---toms insel Galery--*/
  .gallery {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 35rem;
  }
  
  .card {
    position: relative;
    left: 0;
    width: 3rem;
    border-radius: 5rem;
  
    height: 20rem;
    overflow: hidden;
    transition: 4s ease-in-out;
  
    box-shadow: 0 5 12px rgba(0, 0, 0, 0.3);
    flex: 0.15;
  }
  
  .card img {
    position: relative;
    height: 20rem;
    object-fit: cover;
  }
  
  .card:hover {
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 1rem;
  }
  .wrapper {
    height: 220px;
    width: 220px;
  }
  .wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .wrapper img:hover {
    transform: scale(2, 2);
    filter: grayscale(0%);
    z-index: 100;
    position: relative;
  }
  