html{font-family: Tahoma;
font-size: 20;
}
section{background-color: rgb(62, 62, 74);}
header{background-color: beige;}
h1{color: brown;}
em{color: blue;}
.img1 img{
    width: 10;
    max-width: 15;
    margin-left: 2%;
}