.navlist {
    color: white;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.gela{
    padding: 20px;
    margin: 20px;
    border: 10px;
    margin-bottom: 4px;
    background-color: blue;
    color: coral;

}